* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 100vw;
  height: auto;
  font-family: 'Segoe UI', sans-serif;
  color: #3C3C3C;
}

a, a:visited {
  color: #1C274C;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 12px;
}

input {
  font-family: 'Segoe UI', sans-serif;
  color: #3C3C3C;
  font-size: 14px;
}